{{#*inline 'itemOptionSection'}}
  {{#if items.length}}
    <option disabled>{{label}}</option>
    {{#each items as |weapon id|}}
      <option value="{{weapon._id}}">{{weapon.name}}</option>
    {{/each}}
  {{/if}}
{{/inline}}

{{#*inline 'combatItemHeader'}}
  <h2 class="combat-item-header">
    {{#if item.img}}<img src="{{item.img}}" alt="{{item.name}}" height="24" />{{/if}}
    <a name="{{item._id}}" class="item-edit">
      {{item.name}}
    </a>
  </h2>
{{/inline}}

<div class="combat">
  {{! Tabs to switch between armed and unarmed combat }}
  <nav class="tabs sub-tabs">
    <a class="item combat-mode {{#if data.system.base.combatState.isArmed}}active{{/if}}" data-combat-mode="armed">
      <i class="fas fa-gavel"></i> {{localize 'DSA.armedCombat'}}
    </a>
    <a class="item combat-mode {{#unless data.system.base.combatState.isArmed}}active{{/unless}}" data-combat-mode="unarmed">
      <i class="fas fa-fist-raised"></i> {{localize 'DSA.unarmedCombat'}}
    </a>
  </nav>

  {{! Configuration dropdowns for used weapons / talents }}
  <section class="sheet-section">
    <div class="grid grid-equal-width gap-md">
      {{#if data.system.base.combatState.isArmed}}
        <div>
          <label for="system.base.combatState.primaryHand">{{localize 'DSA.primaryHand'}}</label>
          <select id="system.base.combatState.primaryHand" name="system.base.combatState.primaryHand">
            {{#select data.system.base.combatState.primaryHand}}
              <option value="null">{{localize 'DSA.none'}}</option>
              {{> itemOptionSection label=(localize 'DSA.meleeWeapons') items=owned.meleeWeapons}}
              {{> itemOptionSection label=(localize 'DSA.rangedWeapons') items=owned.rangedWeapons}}
            {{/select}}
          </select>
        </div>
        <div>
          <label for="system.base.combatState.secondaryHand">{{localize 'DSA.secondaryHand'}}</label>
          <select id="system.base.combatState.secondaryHand" name="system.base.combatState.secondaryHand">
            {{#select data.system.base.combatState.secondaryHand}}
              <option value="null">{{localize 'DSA.none'}}</option>
              {{> itemOptionSection label=(localize 'DSA.shields') items=owned.shields}}
              {{> itemOptionSection label=(localize 'DSA.meleeWeapons') items=owned.meleeWeapons}}
            {{/select}}
          </select>
        </div>
      {{else}}
        <div>
          <label for="system.base.combatState.unarmedTalent">{{localize 'DSA.unarmedTalent'}}</label>
          <select id="system.base.combatState.unarmedTalent" class="unarmed-talent" name="system.base.combatState.unarmedTalent">
            {{#select data.system.base.combatState.unarmedTalent}}
              <option value="null">{{localize 'DSA.none'}}</option>
              {{#each owned.combatTalents as |talent id|}}
                {{#if (eq talent.system.combat.category 'unarmed')}}
                  <option value="{{talent._id}}">{{talent.name}}</option>
                {{/if}}
              {{/each}}
            {{/select}}
          </select>
        </div>
      {{/if}}
    </div>
  </section>

  {{! Weapon- and talent specific combat values }}
  <section class="sheet-section">
    <div class="grid grid-equal-width gap-md">
      {{#if data.system.base.combatState.isArmed}}
        {{#with (lookup itemsById data.system.base.combatState.primaryHand) as |weapon id|}}
        <div class="weapon" data-attribute="{{weapon._id}}">
          {{> combatItemHeader item=weapon}}
          <div class="combat-item-grid">
            {{#if (eq weapon.type 'meleeWeapon')}}
              {{> combatAttribute action='attack' icon='dice-d20' label=(localize 'DSA.attack') value=../attack inline=true}}
              {{> combatAttribute action='parry' icon='dice-d20' label=(localize 'DSA.parry') value=../parry inline=true}}
            {{/if}}
            {{#if (eq weapon.type 'rangedWeapon')}}
              {{> combatAttribute action='rangedAttack' icon='dice-d20' label=(localize 'DSA.rangedAttack') value=../rangedAttack inline=true}}
              {{> combatAttribute label=(localize 'DSA.modificator') value=../rangedAttackConfig.modifier inline=true}}
            {{/if}}
            {{> combatAttribute action='damage' icon='dice-d6' label=(localize 'DSA.damage') value=../damage inline=true}}
            {{# if (eq weapon.type 'rangedWeapon')}}
              <div class="ranged-selector grid-new-row">
                <label for="range_class">{{localize 'DSA.rangeClass'}}</label>
                <select id="range_class" name="range_class" class="range_class">
                  {{#select ../rangedAttackConfig.rangeClass}}
                    {{#each ../rangeClasses as |rangeClass id|}}
                      <option value="{{rangeClass.value}}">{{rangeClass.label}} (≤{{lookup ../system.ranges rangeClass.key}}m)</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="ranged-selector">
                <label for="size_class">{{localize 'DSA.sizeClass'}}</label>
                <select id="size_class" name="size_class" class="size_class">
                  {{#select ../rangedAttackConfig.sizeClass}}
                    {{#each ../sizeClasses as |sizeClass id|}}
                      <option value="{{sizeClass.value}}">{{sizeClass.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
            {{/if}}
          </div>
        </div>
        {{/with}}

        {{#with (lookup itemsById data.system.base.combatState.secondaryHand) as |weapon id|}}
        {{#if (eq weapon.type 'meleeWeapon')}}
          <div class="weapon" data-attribute="{{weapon._id}}">
            {{> combatItemHeader item=weapon}}
            <div class="combat-item-grid">
              {{> combatAttribute action='attack' icon='dice-d20' label=(localize 'DSA.attack') value=../secondaryAttack inline=true}}
              {{> combatAttribute action='parry' icon='dice-d20' label=(localize 'DSA.parry') value=../secondaryParry inline=true}}
              {{> combatAttribute action='damage' icon='dice-d6' label=(localize 'DSA.damage') value=../secondaryDamage inline=true}}
            </div>
          </div>
        {{/if}}
        {{/with}}
      {{else}}
        {{#with (lookup itemsById data.system.base.combatState.unarmedTalent) as |talent id|}}
        <div class="talent" data-attribute="{{talent._id}}">
          {{> combatItemHeader item=talent}}
          <div class="combat-item-grid">
            {{> combatAttribute action='attack' icon='dice-d20' label=(localize 'DSA.attack') value=../attack inline=true}}
            {{> combatAttribute action='parry' icon='dice-d20' label=(localize 'DSA.parry') value=../parry inline=true}}
            {{> combatAttribute action='damage' icon='dice-d6' label=(localize 'DSA.damage') value=../damage inline=true}}
          </div>
        </div>
        {{/with}}
      {{/if}}
    </div>
  </section>

  {{! General combat values }}
  <section class="sheet-section">
    <div class="combat-item-grid-sm">
      {{> combatAttribute label=(localize 'DSA.initiative') value=initiative}}
      {{> combatAttribute action='dodge' label=(localize 'DSA.dodge') icon='dice-d20' value=data.system.base.combatAttributes.active.dodge.value }}
      {{> combatAttribute class='armor-class' label=(localize 'DSA.armorClass') icon='shield' value=armorClass }}
      {{> combatAttribute class='encumbarance' label=(localize 'DSA.encumbarance') icon='weight-hanging' value=encumbarance }}
    </div>
  </section>
</div>
