<svelte:options accessors={true} />

<script lang="ts">
  import { ApplicationShell } from '@typhonjs-fvtt/runtime/svelte/component/core'
  import { TJSDocument } from '@typhonjs-fvtt/runtime/svelte/store'

  import { getContext, setContext } from 'svelte'

  import ActorSheet from './ActorSheet.svelte'
  export let doc: TJSDocument
  setContext('doc', doc)
  export let elementRoot

  function updateDoc(_event) {
    $doc.sheet.update()
  }

  const application = getContext<any>('#external').application
  const isEditMode = application.sessionStorage.getStore(
    'edit-mode-state',
    false
  )
  setContext('isEditMode', isEditMode)
</script>

<ApplicationShell bind:elementRoot>
  <div on:change={updateDoc} on:drop={(event) => application._onDrop(event)}>
    <ActorSheet bind:doc />
  </div>
</ApplicationShell>
