<script lang="ts">
  import { TJSProseMirror } from '@typhonjs-fvtt/svelte-standard/component'

  export let content = ''
</script>

<div class="editor">
  <TJSProseMirror bind:content />
</div>

<style>
  .editor {
    width: 100%;
    height: 500px;
  }
</style>
