<script lang="ts">
  import { getContext } from 'svelte'
  import { DsaActor } from '../module/actor/actor.js'
  import type { ItemType } from '../module/model/item-data.js'
  import { getLocalizer } from '../module/utils.js'
  import { Writable } from 'svelte/store'

  let doc = getContext<Writable<DsaActor>>('doc')

  export var itemType: ItemType
  const localize = getLocalizer()

  async function createItem() {
    const itemData = {
      name: localize('newItem'),
      img: 'icons/svg/item-bag.svg',
      type: itemType,
    }

    return await $doc.createEmbeddedDocuments('Item', [itemData], {
      renderSheet: true,
    })
  }
</script>

<a on:click={() => createItem()} on:keydown={() => createItem()} role="link"
  ><i class="fas fa-plus" />
  {localize('add')}</a
>
