<script lang="ts">
  import { getLocalizer } from '../../../module/utils.js'
  import Trait from '../Trait.svelte'

  import { getContext } from 'svelte'
  import EffectCreator from '../../EffectCreator.svelte'
  import EffectList from './EffectList.svelte'
  import { Writable } from 'svelte/store'
  import RollableAttribute from '../RollableAttribute.svelte'
  import { CharacterDataAccessor } from '../../../module/model/character.js'
  import { Character } from '../../../module/character/character.js'

  const localize = getLocalizer()

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')
  let character = new Character($doc)

  function update(item) {
    item.update({ ...item })
  }
</script>

<fieldset>
  <legend>
    {localize('negativeAttributes')}
  </legend>
  <div class="flexrow negative-attributes" data-testid="negative-attributes">
    {#each $doc.itemTypes.disadvantage as disadvantage}
      {#if disadvantage.system.negativeAttribute}
        <div on:change={() => update(disadvantage)}>
          <RollableAttribute
            attribute={character.negativeAttribute(disadvantage.system.sid)}
            bind:value={disadvantage.system.value}
            isLocalized={true}
          />
        </div>
      {/if}
    {/each}
  </div>
</fieldset>

<div class="flexrow">
  <div class="column">
    <fieldset>
      <legend>
        {localize('advantages')}
      </legend>
      <div class="flexrow traits-list" data-testid="advantage-list">
        {#each $doc.itemTypes.advantage as advantage}
          <div>
            <Trait trait={advantage} />
          </div>
        {/each}
      </div>
    </fieldset>
  </div>
  <div class="column">
    <fieldset>
      <legend>
        {localize('disadvantages')}
      </legend>
      <div class="flexrow traits-list" data-testid="disadvantage-list">
        {#each $doc.itemTypes.disadvantage as disadvantage}
          {#if !disadvantage.system.negativeAttribute}
            <div>
              <Trait trait={disadvantage} />
            </div>
          {/if}
        {/each}
      </div>
    </fieldset>
  </div>
</div>

<fieldset>
  <legend>
    {localize('specialAbilities')}
  </legend>
  <div class="flexrow traits-list" data-testid="special-ability-list">
    {#each $doc.itemTypes.specialAbility as specialAbility}
      <div>
        <Trait trait={specialAbility} />
      </div>
    {/each}
  </div>
</fieldset>

<div class="effects" data-testid="effect-list">
  <div class="effects-label flexrow">
    <div>
      {localize('effects')}
    </div>
    <div style="text-align: right;">
      <EffectCreator />
    </div>
  </div>
  <EffectList />
</div>

<style>
  fieldset legend {
    font-weight: bold;
    font-size: larger;
  }

  .traits-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 0.5em;
    grid-column-gap: 1em;
  }

  .column fieldset {
    height: 100%;
  }
</style>
