<script lang="ts">
  import { getContext } from 'svelte'
  import { Character } from '../../../module/character/character.js'

  import { getLocalizer } from '../../../module/utils.js'
  import Dialog from '../../Dialog.svelte'
  import ManeuverEditor from '../../maneuver-editor/ManeuverEditor.svelte'
  import RollDialog from '../../RollDialog.svelte'
  import { CharacterDataAccessor } from '../../../module/model/character.js'
  import { Writable } from 'svelte/store'

  const localize = getLocalizer()

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')
  $: character = new Character($doc)

  $: availableOffensiveManeuvers = character.maneuverList('offensive', true)
  $: availableDefensiveManeuvers = character.maneuverList('defensive', true)

  let attackRollDialog
  let rangedAttackRollDialog
  let parryRollDialog

  function rollAttack(modifiers, mod) {
    character.attack({ modifiers })
  }

  function rollParry(modifiers, mod) {
    character.parry({ modifiers })
  }

  function rollRangedAttack(modifier) {
    character.rangedAttack({
      modifiers: [
        {
          name: 'custom',
          mod: modifier,
          modifierType: 'other',
        },
      ],
    })
  }

  let damageRollDialog

  function rollDamage(modifier) {
    character.rollDamage({
      modifiers: [
        {
          name: 'custom',
          mod: modifier,
          modifierType: 'other',
        },
      ],
    })
  }

  export let weapon
  export let isSecondary = false
  export let isArmed = true
</script>

<Dialog
  bind:this={attackRollDialog}
  title={localize('maneuverEditor')}
  dialogComponent={ManeuverEditor}
  {localize}
  availableManeuvers={availableOffensiveManeuvers}
  callback={rollAttack}
/>

<Dialog
  bind:this={parryRollDialog}
  title={localize('maneuverEditor')}
  dialogComponent={ManeuverEditor}
  {localize}
  availableManeuvers={availableDefensiveManeuvers}
  callback={rollParry}
/>

<Dialog
  bind:this={rangedAttackRollDialog}
  title={localize('rangedAttack')}
  dialogComponent={RollDialog}
  {localize}
  callback={rollRangedAttack}
/>

<Dialog
  bind:this={damageRollDialog}
  title={localize('damage')}
  dialogComponent={RollDialog}
  {localize}
  callback={rollDamage}
/>

<div class="weapon">
  <div class="combat-attribute-label" data-testid="combat-stat-label">
    {weapon.name}
  </div>
  <div class="combat-attributes flexrow">
    {#if weapon.type === 'meleeWeapon' || !isArmed}
      <a
        title={localize('roll')}
        on:click={attackRollDialog.open}
        data-testid="attack-roll"
      >
        <div class="combat-attribute-label">
          <i class="fas fa-dice-d20" />
          {localize('attack')}
        </div>
        <div class="combat-attribute-value">
          {character.attackValue(isSecondary)}
        </div>
      </a>
      <a
        title={localize('roll')}
        on:click={parryRollDialog.open}
        data-testid="parry-roll"
      >
        <div class="combat-attribute-label">
          <i class="fas fa-dice-d20" />
          {localize('parry')}
        </div>
        <div class="combat-attribute-value">
          {character.parryValue(isSecondary)}
        </div>
      </a>
    {/if}
    {#if weapon.type === 'rangedWeapon'}
      <a
        title={localize('roll')}
        on:click={rangedAttackRollDialog.open}
        data-testid="ranged-attack-roll"
      >
        <div class="combat-attribute-label">
          <i class="fas fa-dice-d20" />
          {localize('rangedAttack')}
        </div>
        <div class="combat-attribute-value">
          {character.rangedAttackValue()}
        </div>
      </a>
    {/if}
    <div class="damage-roll">
      <a
        title={localize('roll')}
        on:click={damageRollDialog.open}
        data-testid="damage-roll"
      >
        <div class="combat-attribute-label">
          <i class="fas fa-dice-d20" />
          {#if isArmed}
            {localize('damage')}
          {:else}
            {localize('enduranceDamage')}
          {/if}
        </div>
        <div class="combat-attribute-value">
          {character.damage(isSecondary)}
        </div>
      </a>
    </div>
  </div>
</div>
