<script lang="ts">
  export let effect: ActiveEffect
</script>

<div style={effect.disabled ? 'color:grey' : undefined}>
  <img src={effect.icon} />
  <a on:click={() => effect.sheet.render(true)} data-testid="effect-label"
    >{effect.label}</a
  >
  <a on:click={() => effect.delete()} data-testid="effect-delete"
    ><i class="fas fa-trash" /></a
  >
  <a
    on:click={async () => {
      await effect.update({
        disabled: !effect.disabled,
      })
    }}
    data-testid="effect-disable"><i class="fas fa-power-off" /></a
  >
</div>
