<svelte:options accessors={true} />

<script lang="ts">
  import { ApplicationShell } from '@typhonjs-fvtt/runtime/svelte/component/core'
  import ActorSettingsSheet from './ActorSettingsSheet.svelte'
  import type { Writable } from 'svelte/store'
  import type { DsaActor } from '../../module/actor/actor.js'

  export let doc: Writable<DsaActor>
  export let localize: (key: string) => string = () => ''

  export let elementRoot
</script>

<ApplicationShell bind:elementRoot>
  <ActorSettingsSheet bind:doc bind:localize />
</ApplicationShell>
