<script lang="ts">
  import type { Writable } from 'svelte/store'
  import type { DsaActor } from '../../module/actor/actor.js'
  import type { CharacterSettings } from '../../module/model/character-data.js'

  export let doc: Writable<DsaActor>
  export var localize: (key: string) => string = () => ''

  const options: (keyof CharacterSettings)[] = [
    'autoCalcBaseAttack',
    'autoCalcBaseParry',
    'autoCalcBaseRangedAttack',
    'autoCalcInitiative',
    'autoCalcMagicResistance',
    'hasAstralEnergy',
    'hasKarmicEnergy',
  ]
  let settings: CharacterSettings

  $: settings = $doc.system.settings || {}

  $: $doc.update({
    system: {
      settings,
    },
  })
</script>

{#each options as option}
  <div>
    <label>
      <input type="checkbox" bind:checked={settings[option]} />
      {localize(option)}
    </label>
  </div>
{/each}
