<script lang="ts">
  import { getContext } from 'svelte'
  import { Writable } from 'svelte/store'
  import { DsaActor } from '../../module/actor/actor.js'
  import Input from '../Input.svelte'
  import Attributes from './Attributes.svelte'
  import { getLocalizer } from '../../module/utils.js'

  const doc = getContext<Writable<DsaActor>>('doc')
  const localize = getLocalizer()

  const alt = localize('portrait')
  let img: HTMLImageElement

  const { application } = getContext<any>('#external')

  let src = $doc.img
  function onEditImage(_event) {
    const current = src
    const filePicker = new FilePicker({
      type: 'image',
      current: current ?? undefined,
      callback: async (newVal) => {
        src = newVal
        let updateData = { img: src }
        await $doc.update(updateData)
      },
      top: application.position.top + 40,
      left: application.position.left + 10,
    })
    return filePicker.browse()
  }
</script>

<div>
  <img
    class="profile-img"
    bind:this={img}
    {alt}
    {src}
    on:click={(event) => onEditImage(event)}
    on:keydown={(event) => onEditImage(event)}
    data-testid="actor-image"
  />
  <div class="info">
    <div class="name" data-testid="actor-name">
      <Input type="text" bind:value={$doc.name} />
    </div>
    <hr />
    <div class="flexrow" data-testid="actor-attributes">
      <Attributes />
    </div>
  </div>
</div>
<hr />

<style>
  img {
    border-style: var(--border-style);
    cursor: pointer;
    flex: 0 0 96px;
    height: 96px;
    margin-right: 6px;
    float: left;
  }

  .name {
    font-size: x-large;
  }
</style>
