<script lang="ts">
  import DerivedAttribute from './DerivedAttribute.svelte'

  import { getContext } from 'svelte'
  import { CharacterDataAccessor } from '../../module/model/character.js'
  import { Writable } from 'svelte/store'

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')

  const activeCombatAttributeNames = [
    'baseInitiative',
    'baseAttack',
    'baseParry',
    'baseRangedAttack',
    'dodge',
  ] as const
  const passiveCombatAttributeNames = ['magicResistance'] as const
</script>

<div data-testid="derived-attributes">
  {#each activeCombatAttributeNames as combatAttributeName}
    <DerivedAttribute
      bind:value={$doc.system.base.combatAttributes.active[combatAttributeName]
        .value}
      name={combatAttributeName}
    />
  {/each}
  {#each passiveCombatAttributeNames as combatAttributeName}
    <DerivedAttribute
      bind:value={$doc.system.base.combatAttributes.passive[combatAttributeName]
        .value}
      name={combatAttributeName}
    />
  {/each}
  <DerivedAttribute
    bind:value={$doc.system.base.movement.speed.value}
    name="speed"
  />
</div>
