<script lang="ts">
  import { getLocalizer } from '../../module/utils.js'
  import Input from '../Input.svelte'

  const localize = getLocalizer()

  export let value: number
  export let name: string
</script>

<div class="derived-attribute" data-testid="derived-attribute">
  <div class="valcontainer">
    <i class="far fa-circle" />
    <div class="val">
      <Input bind:value />
    </div>
  </div>
  <div class="label" data-testid="label">
    {localize(name)}
  </div>
</div>

<style>
  i {
    position: absolute;
    font-size: 32px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  div.val {
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: white;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
    font-size: medium;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, 0);
  }

  div.valcontainer {
    position: relative;
    height: 32px;
  }

  div.label {
    text-align: center;
  }

  .derived-attribute {
    margin-bottom: 10px;
  }
</style>
