{{#if action}}
  <a name="{{action}}" title="{{localize 'DSA.roll'}}" class="combat-attribute-action" data-action="{{action}}">
{{/if}}

<div class="combat-attribute {{class}} {{#if inline}}combat-attribute-inline{{/if}}">
  <div class="combat-attribute-label">
    {{#if icon}}<i class="fas fa-{{icon}}"></i>{{/if}}
    {{label}}
  </div>
  <div class="combat-attribute-value">{{value}}</div>
</div>

{{#if action}}
  </a>
{{/if}}
