<form class='{{cssClass}}' autocomplete='off'>
  {{! Item Sheet Header }}
  <header class='weapon sheet-header flexrow' data-item-id='{{item.id}}'>
    <img
      class='profile'
      src='{{item.img}}'
      title='{{item.name}}'
      data-edit='img'
    />

    <div class='header-details flexrow'>
      <h1 class='charname'>
        <input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='{{localize "DSA.Name"}}'
        />
      </h1>
      <div class='item-controls'>
        <a class='item-control item-delete' title='{{localize "DSA.Del"}}'><i
            class='fas fa-trash fa-2x'
          ></i></a>
      </div>

    </div>
  </header>

  <div class='flexrow weapon-attributes-list'>
    <div class='attribute' data-attribute='talent'>
      <div class='attribute-label'>{{localize
          (concat 'DSA.weaponTalent')
        }}</div>
      <div class='flexrow'>
        <select name='system.talent'>
          {{#select data.system.talent}}
            {{#each meleeCombatTalents as |talent id|}}
              <option value='{{talent.sid}}'>{{talent.name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class='attribute' data-attribute='damage'>
      <div class='attribute-label'>{{localize (concat 'DSA.damage')}}</div>
      <div class='flexrow'>
        <input
          name='system.damage'
          type='text'
          value='{{data.system.damage}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='strengthMod'>
      <div class='attribute-label'>{{localize (concat 'DSA.strengthMod')}}</div>
      <div class='flexrow'>
        <input
          name='system.strengthMod.threshold'
          type='number'
          data-dtype='Number'
          value='{{data.system.strengthMod.threshold}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
      <div class='flexrow'>
        <input
          name='system.strengthMod.hitPointStep'
          type='number'
          data-dtype='Number'
          value='{{data.system.strengthMod.hitPointStep}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='breakingFactor'>
      <div class='attribute-label'>{{localize
          (concat 'DSA.breakingFactor')
        }}</div>
      <div class='flexrow'>
        <input
          name='system.breakingFactor'
          type='number'
          data-dtype='Number'
          value='{{data.system.breakingFactor}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='initiativeMod'>
      <div class='attribute-label'>{{localize
          (concat 'DSA.initiativeMod')
        }}</div>
      <div class='flexrow'>
        <input
          name='system.initiativeMod'
          type='number'
          data-dtype='Number'
          value='{{data.system.initiativeMod}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='weaponMod'>
      <div class='attribute-label'>{{localize (concat 'DSA.weaponMod')}}</div>
      <div class='flexrow'>
        <input
          name='system.weaponMod.attack'
          type='number'
          data-dtype='Number'
          value='{{data.system.weaponMod.attack}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
      <div class='flexrow'>
        <input
          name='system.weaponMod.parry'
          type='number'
          data-dtype='Number'
          value='{{data.system.weaponMod.parry}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='distanceClass'>
      <div class='attribute-label'>{{localize
          (concat 'DSA.distanceClass')
        }}</div>
      <div class='flexrow'>
        <input
          name='system.distanceClass'
          type='text'
          value='{{data.system.distanceClass}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='price'>
      <div class='attribute-label'>{{localize (concat 'DSA.price')}}</div>
      <div class='flexrow'>
        <input
          name='system.price'
          type='number'
          data-dtype='Number'
          value='{{data.system.price}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='weight'>
      <div class='attribute-label'>{{localize (concat 'DSA.weight')}}</div>
      <div class='flexrow'>
        <input
          name='system.weight'
          type='number'
          data-dtype='Number'
          value='{{data.system.weight}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='length'>
      <div class='attribute-label'>{{localize (concat 'DSA.length')}}</div>
      <div class='flexrow'>
        <input
          name='system.length'
          type='number'
          data-dtype='Number'
          value='{{data.system.length}}'
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='twoHanded'>
      <div class='attribute-label'>{{localize (concat 'DSA.twoHanded')}}</div>
      <div class='flexrow'>
        <input
          name='system.twoHanded'
          type='checkbox'
          data-dtype='Boolean'
          {{checked data.system.twoHanded}}
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='improvised'>
      <div class='attribute-label'>{{localize (concat 'DSA.improvised')}}</div>
      <div class='flexrow'>
        <input
          name='system.improvised'
          type='checkbox'
          data-dtype='Boolean'
          {{checked data.system.improvised}}
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='priviledged'>
      <div class='attribute-label'>{{localize (concat 'DSA.priviledged')}}</div>
      <div class='flexrow'>
        <input
          name='system.priviledged'
          type='checkbox'
          data-dtype='Boolean'
          {{checked data.system.priviledged}}
          placeholder='{{localize "DSA.value"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='description'>
      <div class='attribute-label'>{{localize (concat 'DSA.description')}}</div>
      <div class='flexrow'>
        <textarea
          name='system.description'
          data-dtype='String'
        >{{data.system.description}}</textarea>
      </div>
    </div>
  </div>

</form>